@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;

}

input {
  color: #fff;
  border-radius: 9999px;
  padding: 5px;
  background: #000;
  border: 1px solid #ccc;
  margin: 10px 0px;
  padding-left: 15px;
}

* {
  box-sizing: border-box;
}


input[type=range] {
  height: 72px;
  border-radius: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  margin-top: 20px;
  background: rgb(0,159,227);
  background: linear-gradient(90deg, rgba(0,159,227,1) 4%, rgba(0,156,61,1) 22%, rgba(152,194,29,1) 38%, rgba(247,183,8,1) 67%, rgba(215,99,40,1) 96%);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}

.label-range::after{
  content: '';
  display: block;
  width: 25%;
  margin: auto;
  height: 20px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0px 10px 20px 10px;
  transform: rotate(180deg);
  /* background: #fff; */

}

